// Body
$body-bg: #222;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$flankr-primary: #e627a3;
$flankr-primary-bright: #ff61c8;
$flankr-primary-dark: #4a1738;


$grey-20: #0a0a0a;
$grey-25: #121212;
$grey-30: #303030;
$grey-40: #575757;
$grey-50: #7d7d7d;
$grey-60: #9c9c9c;
$grey-70: #bababa;
$grey-80: #dbdbdb;
