// PK - added 29.03.20

//
// Overwrite Bootstrap and other styles
//

body {
    background-color: $grey-25 !important;
    color: $grey-70 !important;
}

.flankr-bg {
    background-color: $grey-20 !important;
    color: $grey-70 !important;
}


//
// Profile Cards
//

.flankr-profile-card {
    height: auto;
    background-color: $grey-20;
    color: $grey-70;
    box-shadow: 0 0 8px $grey-20;
    padding: 0 0 0 0;
    z-index: 50;
}


.flankr-profile-card-avatar {
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 75;
}

.flankr-profile-card-text {
    bottom: 0;
    z-index: 100;
}

//
// Buttons
//

.flankr-button {
    background-color: #0000;
    color: $grey-70;
    border: solid 2px $flankr-primary;
    box-shadow: 0 0 8px $flankr-primary, inset 0px 0px 8px $flankr-primary;
    width: 45%;
} 

.flankr-button:hover {
    border: solid 2px $flankr-primary-bright;
    box-shadow: 0 0 10px $flankr-primary-bright, inset 0px 0px 10px $flankr-primary-bright;
    background-color:  #0000;
    color: $grey-70;
    transition: .3s;
}


//
// Custom elements
//

.flankr-logo-start {
}


//
// Color
//

.flankr-grey-70 {
    color: $grey-70 !important;
}


//
// BG-Color
//

.flankr-grey-20-bg {
    background-color: $grey-20 !important;
}

//
// Sonstiges
//

.verschwindibus {
    height: 0px !important;
    opacity: 0;
    transition: .3s;
    margin-left: 2000px;
}

