// Profile Cards

.flankr-profile-card {
    height: 80vh;

}

.flankr-profile-card-img {
    display: inline-block;
    width: 100%;
    
    // platzhalter-styles
    background-color: red;
    height: 300px;
}


